{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<main class="container text-center">
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for log in history %}
                <tr>
                    <td class="text-start">{{log.symbol}}</td>
                    <td class="text-end">{{log.amount}}</td>
                    <td class="text-end">{{log.price}}</td>
                    <td class="text-end">{{log.date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}