{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="">Symbol</option>
                {% for share in shares %}
                    <option value="{{share}}">{{share}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
        <a href="sell_all">
            <button class="btn btn-primary" style="background-color: rgb(85, 30, 30)" id="sell_all" type="button">Sell All</button>
         </a>
    </form>
{% endblock %}


